@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url('fonts/Roboto-Regular.ttf');
    font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Roboto;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Roboto;
    box-sizing: border-box;
    border: 0.5px solid #585858;
    font-size: 14px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a {
    color: #fff;
    text-decoration: none !important;
}

body {
    background: #fff;
}

ol,
ul {
    list-style: none;
}

.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-start {
    justify-content: flex-start;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.text-white {
    color: white !important;
}

.text-gray {
    color: gray !important;
}

.text-black {
    color: black !important;
}

.text-58 {
    color: #585858 !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.font-bold {
    font-weight: 700;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-20 {
    margin-top: 20px !important;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-30 {
    margin-top: 30px !important;
}

.mb-30 {
    margin-bottom: 30px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.w-100 {
    width: 100% !important;
}

.header {
    width: 100%;
    height: 50px;
    padding: 10px 0;
    background: #EF4123;
}

.logo-header {
    display: inline-block;
    height: 100%;
    flex-grow: 1;
}

.block-menu-header {
    flex-grow: 8;
    height: 30px;
}

.block-menu-header li {
    padding: 0 8px;
    margin: 0 10px;
    border-radius: 15px;
}

.block-menu-header li a {
    display: block;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
}

.block-search {
    flex-grow: 1;
}

.btn-menu-active,
.block-menu-header li:hover {
    background: #DA1818;
    transition: all .5s ease;
}

.btn-search {
    width: 20px;
    height: 20px;
    margin: 5px 0;
    background-position: -2px -4px;
}

.sub-menu {
    background: #ECECEC;
}

.block-sub-menu {
    height: 30px;
}

span.icon-livescore {
    width: 10px;
    height: 10px;
    background: #EF4123;
    border-radius: 50%;
}

.block-sub-menu .icon-livescore {
    top: 9px;
    left: 4px;
}

span.icon-calendar {
    width: 16px;
    height: 17px;
    background-position: -31px -3px;
}

span.icon-result {
    width: 20px;
    height: 20px;
    background-position: -33px -31px;
}

span.icon-standing {
    width: 20px;
    height: 20px;
    background-position: -129px -2px;
}

span.icon-fifa {
    width: 30px;
    height: 20px;
    background-position: -58px -2px;
}

span.icon-top-score {
    width: 22px;
    height: 20px;
    background-position: -98px -3px;
}

span.icon-live {
    width: 20px;
    height: 20px;
    background-position: -155px -3px;
}

span.icon-schedule {
    width: 24px;
    height: 20px;
    background-position: -5px -31px;
}

.block-sub-menu li a {
    line-height: 30px;
    position: relative;
    margin-right: 20px;
    color: #DA1818;
    font-size: 12px;
    font-weight: 400;
    display: block;
    padding-left: 25px;
}

.block-sub-menu li a span {
    position: absolute;
    left: 0;
    top: 5px;
}

.block-sub-menu .icon-calendar {
    top: 5px;
    left: 0;
}

.block-sub-menu .icon-result {
    top: 5px;
    left: 0;
}

.block-sub-menu .icon-standing {
    top: 5px;
    left: 0;
}

.block-sub-menu .icon-fifa {
    top: 5px;
    left: 0;
}

a.btn-fifa {
    padding-left: 35px !important;
}

.block-sub-menu .icon-top-score {
    top: 5px;
    left: 0;
}

.block-sub-menu .icon-live {
    top: 5px;
    left: 0;
}

.block-sub-menu .icon-schedule {
    top: 5px;
    left: 0;
}

.slide-news {
    width: 366px;
    min-height: 155px;
    background: #ECECEC;
    padding: 10px 20px;
    display: inline-block;
    margin-right: 1px;
    outline: none;
    text-align: center;
}

.slide-news-full {
    width: 100%;
    display: inline-block;
    min-height: 155px;
    background: #ECECEC;
    padding: 10px 20px;
    margin-right: 1px;
    outline: none;
    text-align: center;
}

.slide-news-full .title-sport-sub {
    text-transform: uppercase;
}

.slide-news a {
    outline: none;
}

.title-sport {
    margin-top: 10px;
    display: block;
    color: #A3A3A3;
    font-size: 18px;
    font-weight: bold;
}

.title-sport-sub {
    margin-top: 10px;
    display: block;
    color: #A3A3A3;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 25px;
}

.hr-title {
    width: 5%;
    height: 5px;
    background: gray;
    border: none;
}

.title-news, .title-news-half {
    display: block;
    color: #585858;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 26px;
}

.content-news-container {
    width: 50%;
    margin: 0 auto;
}

.title-news-half {
    font-size: 18px !important;
    margin-bottom: 10px !important;
}

.text-news {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 26px;
}

.slide-news .title-news {
    height: 55px;
    overflow-y: hidden;
}

.time-different {
    color: #A3A3A3;
}

.description-first-home {
    font-size: 16px;
    line-height: 22px;
    min-height: 70px;
}

.block-gray {
    background: #585858;
    padding: 10px;
}

.title-video {
    padding-left: 25px;
    display: inline-block;
    font-size: 20px;
}

.icon-video {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: -109px -30px;
}

.title-video .icon-video {
    position: absolute;
    top: 2px;
    left: 0;
}

.block-news-right {
    width: calc(100% - 370px);
    flex-wrap: wrap;
    position: relative;
}

.block-news-right img {
    position: absolute;
    width: 87%;
    top: 0;
    right: 0;
    object-fit: contain;
}

.news-right {
    width: 280px;
}

.content-left {
    width: 780px;
}

.content-right {
    width: 300px;
}

.title-block {
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
}

.content-left .news-home .title-news {
    margin-top: 8px;
    font-size: 18px;
}

.border-news {
    height: 4px;
    width: 100%;
    background: #ECECEC;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.border-news-1 {
    height: 1px;
    width: 100%;
    background: #ECECEC;
}

.display-news-right .img-news-left {
    display: block;
    width: 195px;
}

.display-news-right .title-news-right {
    width: calc(100% - 215px);
    margin-top: 0;
}

.display-news-right .title-news-right .title-news {
    margin-top: 0;
}

.content-right .block-sub-menu {
    border: 1px solid #A3A3A3;
    height: auto;
}

.content-right .block-sub-menu li {
    padding: 5px 10px;
    border-bottom: 1px solid #A3A3A3;
    background: #fff;
}

.content-right .block-sub-menu li:last-child {
    border-bottom: none;
}

.content-right .block-sub-menu li a {
    color: #585858;
    padding-left: 35px;
    font-size: 14px;
}

.icon-identify {
    position: absolute;
    left: 0;
    top: -2px;
    display: inline-block;
    width: 22px;
    height: 20px;
    background-position: -342px -30px;
}

.list-identify {
    padding: 10px;
    background: #ECECEC;
    font-size: 16px;
    line-height: 22px;
    display: block;
    color: #585858;
    margin-bottom: 1px;
}

.menu-footer li {
    width: 135px;
    display: inline-block;
}

.menu-footer li a {
    display: block;
    color: #585858;
    font-size: 16px;
    padding: 5px 0 5px 17px;
}

.menu-footer li a:first-child {
    position: relative;
    font-size: 20px;
    color: #303030;
    font-weight: 700;
    margin-bottom: 5px;
}

.menu-footer li a:first-child:before {
    content: '#';
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 20px;
    color: #EF4123;
}

.content-footer li {
    width: 350px;
}

.content-footer li:first-child {
    width: 400px;
}

.content-footer li:first-child {
    padding-right: 30px;
}

.content-footer li:last-child {
    padding-right: 0;
}

.content-footer p {
    font-size: 14px;
    color: #585858;
    line-height: 20px;
}

.content-footer a {
    color: #ef4123;
}

.text-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.breadcrum a {
    display: inline-block;
    padding-right: 22px;
    position: relative;
}

.breadcrum a:nth-child(n+2) {
    margin-left: 8px;
}

.breadcrum a:last-child {
    padding-right: 0;
}

.breadcrum > a:not(:last-child):before {
    content: '';
    position: absolute;
    right: 0;
    top: 3px;
    width: 12px;
    height: 12px;
    display: block;
    background: url("../image/icon.png") -40px -61px;
}

.title-breadcrum {
    font-size: 14px;
    font-weight: 500;
    color: #A3A3A3;
}

.breadcrum a:last-child .title-breadcrum {
    color: #EF4123;
}

.time-active {
    font-size: 16px;
    color: #A3A3A3;
}


.content-news {
    margin: 20px 0;
    color: black;
    font-size: 14px;
}

.content-news-half {
    margin: 20px 0;
    color: black;
    font-size: 14px;
    line-height: 20px;
}

.content-news img {
    max-width: 100%;
    height: auto !important;
    margin: 0 auto;
    display: block;
    min-height: 200px;
}

.content-news span,
.content-news p,
.content-news {
    color: #585858;
    font-size: 16px;
    line-height: 26px;
}

.content-news p {
    text-align: justify;
    padding: 8px 0
}

.content-news strong {
    font-weight: 600;
    font-size: 16px;
}

.content-news table {
    width: 100% !important;
}

.content-news em {
    font-size: 16px;
    font-style: italic;
}

.content-news h2 {
    font-size: 18px;
    font-weight: 600;
}

.info-news {
    width: calc(100% - 320px);
}

.list-news .title-news {
    margin-top: 0;
}

.list-news > div:not(:last-child) {
    margin-bottom: 30px;
}

.menu-content-gray {
    position: relative;
    height: 40px;
    background: #ECECEC;
    padding: 0 0 0 20px;
}

.menu-content-gray a {
    line-height: 40px;
    color: #585858;
}

.dropdown-menu {
    background: #FFB4A7;
    height: 40px;
    padding: 5px;
    position: absolute;
    width: 100%;
    z-index: 99;
    display: none;
}

.dropdown-menu ul:not(.dropdown-active) {
    display: none;
}

.dropdown-menu li {
    display: inline-block;
    margin: 0 10px;
}

.dropdown-menu a {
    font-weight: 500;
    line-height: 20px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    color: #000;
    transition: all .5s ease;
}

.dropdown-menu a:hover {
    background: #fc917f;
}

.content-news h3 {
    font-size: 18px;
    font-weight: 600;
}

.content-news a {
    color: #DA1818;
    font-size: 16px;
}

.content-footer li:nth-child(2) {
    padding-right: 30px;
}

.icon-thethao {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../image/iconshrare.png) no-repeat;
}

.thethao-facebook {
    background-position: 0 0;
}

.thethao-tiktok {
    background-position: -37px 0;
}

.thethao-youtube {
    background-position: -74px 0;
}

.thethao-zalo {
    background-position: -113px 0;
}

.thethao-lotus {
    background-position: -152px 0;
}

.thethao-gapo {
    background-position: -189px 0;
}

.thethao-gnews {
    background-position: -228px 0;
}

.thethao-xss {
    background-position: -269px 0;
}